<!-- use underscore in file name to indicate that this is a partial file -->
<div class="form-row">
    <div class="form-item">
        <label>Title</label>
        <input type="text" name="title" value="<%= book.title %>">
    </div>
    <div class="form-item">
        <label>Author</label>
        <!-- select from options instead of normal input -->
        <select name='author'>
            <% authors.forEach(author => { %>
                <% if(author.id === book.author) { %>
                    <option label="<%= author.name %>" value="<%= author.id %>"></option>
                <% } else { %> 
                    <option label="<%= author.name %>" value="<%= author.id %>"></option>
                <% } %>
            <% }) %>
        </select>
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Publish Date</label>
        <input type="date" name="publishDate"
               value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
    </div>
    <div class="form-item">
        <label>Page Count</label>
        <!-- add a min value because we can't have a book that's less than one page long -->
        <input type="number" name="pageCount" min="1" value="<%= book.pageCount %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label>Cover</label>
        <!-- will be actual file instead of a file name, they don't allow you to set a default value, so we have to remove that -->
        <!-- have to add class of filepond for input to use filepond -->
        <input type="file" name="cover" class="book-cover filepond">
    </div>
    <div class="form-item">
        <label>Description</label>
        <!-- use text area instead of input to allow use of more space and keys -->
        <textarea name="description"><%= book.description %></textarea>
    </div>
</div>