<h2 class="page-header">Search Authors</h2>
<!-- collect user input with form for the search -->
<form action="/authors" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="name" value="<%= searchOptions.name %>">
        </div>
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<br>
<!-- display all of our authors -->
<% authors.forEach(author => { %>
    <div class="author-row">
        <div class="author-name"><%= author.name %></div>
        <div class="btn-row">
            <a class="btn btn-primary" href="/authors/<%= author.id %>">View</a>
            <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
            <!-- use delete form from partials, pass it author's id for its url -->
            <%- include('../partials/deleteForm',
                { url: `/authors/${author.id}` }) %>
        </div>
    </div>
<% }) %>